/* 
#ff7c2b orange (crayola)
#f9faf9 ghost white
#bac1b8 gray x11 gray
#5d9ebf cerulean frost
#1a2c35 yankees blue 26 44 53

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

body {
	background: #f9faf9;
	color: #1a2c35 ;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	line-height: 140%;
}

header {
	width: 100%;
	z-index: 95;
	display: block; 
}

h1, h2, h3, h4, header, .landing {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

.landing {
	background:	 linear-gradient(
		rgba(37,62,70, .3),
		rgba(37, 62, 70, .6)),
	url('https://static.wixstatic.com/media/e3de0633fc9607c1fb1335c40d796247.jpg') center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #f9faf9;
	padding-top: 12em;
}

h1 {
	font-size: 2em;
	line-height: 150%;
	margin: 0;
}

h2 {
	line-height: 150%;
	margin: 0;
	padding: 15px 10px;
}

h3 {
	margin: 5px;
}

h5 {
	font-size: 18px;
	color: #1a2c35;
}

.landing p {
	font-size: 18px;
}

.logo {
	display: none;
}

.nav-name {
	display: hidden;
}

.nav-name a {
	text-decoration: none;
	color: #f9faf9;
}

ul#inv-menu {
	background: rgba(26, 44, 53, .9);
	color: #f9faf9;	
}

ul#inv-menu li a {
	font-size: 18px;
	line-height: 2em;
	background: transparent;
	color: #f9faf9;
}

#inv-nav-main-btn.is-active {
	background: rgba(26, 44, 53, .9);
	color: #f9faf9;
}


#inv-nav-main-btn {
	background-color: rgba(26, 44, 53, .6);
	height: 60px;
	line-height: 50px;
}

#inv-nav-main-btn:hover {
	background-color: rgba(26, 44, 53, .9);
}

.animated {
     -webkit-animation-duration: 0s; 
     -moz-animation-duration: 0s;
	 -MS-animation-duration: 0s;
     animation-duration: 0s; 
     -webkit-animation-fill-mode: none; 
     -moz-animation-duration: 0s;
	 -MS-animation-duration: 0s;
     animation-fill-mode: none; 
}

ul#inv-menu li a:hover {
	color: #ff7c2b;
	background: transparent;
}

section {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 60px;
}

p {
	text-align: left;
}

.p-center {
	text-align: center;
}

.products {
	text-align: left;
	background:	 linear-gradient(
		rgba(249, 250, 249, .3),
		rgba( 249, 250, 249, .6)),
	url('https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/light-black-concrete-grunge-texture-10.jpg') center center;
}

.products h2 {
	text-align: center;
	margin: 20px 0;
}

.product-card {
	height: 275px;
	background: rgba(26, 44, 53, .9);
	color: #f9faf9;
	border-radius: 25px;
	padding: 5px 10px;
	margin: 10px 0;
	box-shadow: 3px 3px 10px #bac1b8;
	-webkit-animation-duration: 5s;
	-webkit-animation-delay: 3s;
}

.product-card h3 {
	text-align: center;
}

.product-card p {
	margin: 5px 0;
}

.eBay {
	background-image: linear-gradient( rgba(93, 158, 191, .5), rgba(93, 158, 191, .5)),
	url('qbkls/qbkls.png');
	color: #1a2c35;
}

.eBay h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

.eBay h3 {
	font-size: 22px;
	margin: 0;
}

.eBay h4 {
	margin: 0;
	font-size: 18px;
}

.categories h3 {
	margin-bottom: 10px;
}

.js-query, button, #search-label {
	height: 40px;
	margin-top: 10px;
}

.category-button, #search-button {
	margin: 10px 0;
}

.category-button, #search-button, .js-query {
	width: 100%;
}

.category-button:hover, #search-button:hover, .pageButton:hover {
	background: rgba(26, 44, 53, .8);
	color: #f9faf9;
	border: none;
}

.contact-button:hover {
	background: #ff7c2b;
	color: #f9faf9;
	border: none;
}

.pageNumDisplay {
	display: inline-block;
}

.pageButton {
	width: 50px;
}

.contact {
	background-image: linear-gradient(rgba(26, 44, 53, .7), rgba(26, 44, 53, .9)),
	url('qbkls/qbkls.png');
	color: #f9faf9;
}

.contact-form label {
	margin-bottom: 5px;
}

input, textarea, button {
	padding: 5px 10px;
	margin-bottom: 10px;
}

.building-pic {
	width: 100%;
}

textarea {
	height: 75px;
}

.card {
	text-align: left;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	height: 350px;
	margin-bottom: 10px;
	background: #f9faf9;
	color: #1a2c35;
}

.card-image {
	width: auto;
	max-width: 100%;
	margin-top:	25%;
	height: 180px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card h4 {
	margin: 0;
	position: absolute;
	top: 10px;
	max-height: 50px;
}

.card p {
	margin: 10px;
	position: absolute;
	bottom: 5px;
}

#map {
	height: 300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.contact-form input, .contact-form textarea {
	width: 100%;
}

fieldset {
	border: none;
}

#gotcha {
	display: none;
}

#contacth2 {
	margin-bottom: 30px;
}

footer {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 15px;
	background: rgba(26, 44, 53, 1);
	color: #f9faf9;
}

footer p {
	text-align: center;
}

.me {
	display: block;
}

.citation {
	margin: 5px 10px;
}

footer a {
	color: #f9faf9;
}

footer a:hover {
	color: #ff7c2b;
}

.hidden {
	display: none;
}

button, a, .contact-button {
	-webkit-transition: color .5s, background .5s;
	transition: color .5s, background .5s;
}

button, .contact-button {
	color: #1a2c35;
	font-weight: bold;
}

a:hover, button:hover {
	cursor: pointer;
}

input:focus, 
textarea:focus, 
button:focus {
	outline: 2px outset #ff7c2b;
	border: 1px solid #ff7c2b;
}

/*Screens bigger than 400px and smaller than 768px*/
@media screen and (min-width: 400px) {

	.landing {
		padding-top: 15em;
		padding-bottom: 12em;
	}

	.landing h1 {
		font-size: 3em;
		line-height: 150%;
		margin: 0;
	}

	.landing h2 {
		font-size: 2em;
		line-height: 150%;
		margin: 0;
	}

	.col-3 {
		width: 50%;

	}

	.product-card {
		padding: 20px;
		height: 250px;
	}

	.card {
		height: 300px;
	}

	.card h4 {
		padding: 10px;
	}

	.card-image {
		height: 150px;
		margin-top: 20%;
	}

	#category-button3 {
		padding-top: 0;
	}
}

/*Screens bigger than 768px*/
@media screen and (min-width: 768px) {

	.landing {
		height: 630px;
	}

	.nav-name {
		color: #f9faf9;
		position: absolute;
		left: 10px;
		top: 5px;
		transition: 2s;
	}

	.nav-name h2 {
		font-size: 18px;
	}

	.logo {
		margin-top: -15px;
		display: block;
		width: 200px;
		position: absolute;
		left: -165px;
		top: -103px;
	}

	.logo-class {
		-webkit-animation-duration: 5s;
		-moz-animation-duration: 5s;
		-MS-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		-MS-animation-delay: 1s;
		animation-delay: 1s;

	}

	.animated {
	    -webkit-animation-duration: 5s;
	    -moz-animation-duration: 5s;
		-MS-animation-duration: 5s;
	    animation-duration: 5s;
	    -webkit-animation-fill-mode: both;
	    -moz-animation-fill-mode: both;
		-MS-animation-fill-mode: both;
	    animation-fill-mode: both;
	}

	.logo-link {
		-webkit-animation-delay: 6s;
		-moz-animation-delay: 6s;
		-MS-animation-delay: 6s;
		animation-delay: 6s;
		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		-MS-animation-duration: 1s;
		animation-duration: 1s;
	}	

	#logo-link2 {
		-webkit-animation-delay: 1s;
		-moz-animation-delay: 1s;
		-MS-animation-delay: 1s;
		animation-delay: 1s;
	}

	nav.nav-bar {
		display: block;
		padding-top: 1.5em;
		padding-bottom: .5em;
		height: 4em;
		width: 100%;
		position: relative;
		display: block;
		margin-top: -4em;
		background: rgba(255, 124, 43, .9);
		box-shadow: 3px 3px 10px #bac1b8;
	}

	nav.fixed {
		position: fixed !important;
		top: 0;
		margin-top: 0;
		z-index: 1000;
		background: rgba(255, 124, 43, 1);
	}

	nav.fixed:hover {
		color: #f9faf9;
	}

	ul#inv-menu {
		position: absolute;
		display: block;
		margin: 0 auto;
		list-style: none;
		width: 60%;
		right: 2%;
		z-index: 95;
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    background: transparent;
	}

	ul#inv-menu li a {
		background: transparent;
	}

	ul#inv-menu li a {
		display: block;
		text-decoration: none;
		background: transparent;
		color: #1a2c35;	
		padding: 0;
		font-size: medium;
		font-weight: bold;
		line-height: normal;
	}

	ul#inv-menu li:hover {
		background: transparent;
	}

	ul#inv-menu li a:hover {
		color: #f9faf9;
		background: transparent;
	}

	.product-card {
		height: 414px;
		padding: 10px;
	}

	.js-query {
		width: 300px;
	}

	#search-button {
		width: 25%;
	}

	.search-results h4 {
		color: #1a2c35;
	}

	.row, .col-12 {
		height: 100%;
	}

	.col-3 {
		width: 50%;
	}

	.products h2 {
		font-size: 26px;
	}

	.card-image {
		height: 140px;
		margin-top: 20%;
	}

	.card h4 {
		padding: 0;
	}

	section {
		padding-top: 75px;
	}

	textarea {
		height: 113.5px;
	}

	footer {
		height: 50px;
	}

	.me {
		position: absolute;
		left: 10px;
		bottom: 0;
	}

	.citation {
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
}

@media screen and (min-width: 900px) {

	.nav-name {
		color: #f9faf9;
		position: absolute;
		left: 15px;
		top: 0;
		transition: 2s;
	}

	.nav-name h2 {
		font-size: 1.5em;
	}

	ul#inv-menu{
		width: 	45%
	}

	.product-card {
		height: 310px;
	}

	.col-3 {
		width: 25%;
	}

	.card-image {
		height: 120px;
		margin-top: 40%;
	}

	#category-button3 {
		padding-top: 5px;
	}

	input, textarea, button {
		width: 300px;
	}
}