/*
   #ff6506 old site orange

#ff7c2b orange (crayola)
#f9faf9 ghost white
#bac1b8 gray x11 gray
#5d9ebf cerulean frost
#1a2c35 yankees blue 26 44 53

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;


*/
body {
	background: #f9faf9;
	color: #1a2c35 ;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;

}

header {
	width: 100%;
	z-index: 95;
	display: block; 
	
}

h1, h2, h3, h4, header, .landing {
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
}


.landing {
	background:	 linear-gradient(
		rgba(37,62,70, .3),
		rgba(37, 62, 70, .6)),
	url('https://static.wixstatic.com/media/e3de0633fc9607c1fb1335c40d796247.jpg') center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #f9faf9;
	/*height: 400px;*/
	padding-top: 12em;
	/*padding-bottom: 10em;*/

}

h1 {
	font-size: 2em;
	line-height: 150%;
	margin: 0;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	line-height: 150%;
	margin: 0;
	padding: 0 5px;
}

.landing p {
	font-size: 1em;
}


ul#inv-menu {
	background: rgba(26, 44, 53, .9);
	color: #f9faf9;
	
}

ul#inv-menu li {
	
}

ul#inv-menu li a {

	font-size: 1.5em;
	line-height: 2em;
	background: transparent;
	color: #f9faf9;

}

#inv-nav-main-btn.is-active {
	background: rgba(26, 44, 53, .9);
	color: #f9faf9;
}

.logo {
	width: 15%;
	position: absolute;
	left: 50px;
	top: 0;
	vertical-align
}

#inv-nav-main-btn {
	background-color: rgba(26, 44, 53, .6);
	height: 60px;
	line-height: 50px;

}

#inv-nav-main-btn:hover {
	background-color: rgba(26, 44, 53, .9);
}

ul#inv-menu li a:hover {
	color: #ff7c2b;
	background: transparent;
}

section {
	text-align: center;
	padding-bottom: 50px;
	padding-top: 60px;
}

p {
	text-align: left;
}

.p-center {
	text-align: center;
}

.products {
	text-align: left;
	background: #5d9ebf;
	color: #f9faf9;
}

.products h2 {
	text-align: center;
}

.js-query, button, #search-label {
	height: 40px;
	margin-top: 10px;
}

.category-button {
	width: 50%;
	margin-bottom: 10px;
}

.pageNumDisplay {
	display: inline-block;
}

input, textarea {
	width: 300px;
	padding: 5px 10px;
	margin-bottom: 10px;
}

textarea {
	height: 75px;
}

.card {
	text-align: left;
	padding: 10px;
	border: 2px solid black;
	position: relative;
	height: 350px;
	margin-bottom: 10px;
}

.card-image {
	width: auto;
	max-width: 100%;
	margin-top:	45%;
	height: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card h4 {
	margin: 0;
	position: absolute;
	top: 10px;
	max-height: 50px;

}

.card p {
	margin: 10px;
	position: absolute;
	bottom: 5px;
}

#map {
	height: 300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#gotcha {
	display: none;
}

#contacth2 {
	margin-bottom: 30px;
}

footer {
	height: 50px;
	padding-top: 20px;
	padding-bottom: 10px;
	text-align: center;
}

.hidden {
	display: none;
}


/*Screens bigger than 400px and smaller than 768px*/
@media screen and (min-width: 400px) {

	.landing {
		padding-top: 15em;
		padding-bottom: 12em;
	}

	.landing h1 {
		font-size: 3em;
		line-height: 150%;
		margin: 0;
	}

	.landing h2 {
		font-size: 2em;
		line-height: 150%;
		margin: 0;
	}

	nav.nav-bar {
		display: block;
		padding-top: 1em;
		padding-bottom: 1em;
		height: 3em;
		width: 100%;
		position: relative;
		display: block;
		margin-top: -3.5em;
		opacity: .8;
		background: #f9faf9;
	}

	ul#inv-menu {
		position: absolute;
		display: block;
		margin: 0 auto;
		list-style: none;
		width: 45%;
		right: 2%;
		z-index: 1000;
		display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    background: transparent;
	
	}

	ul#inv-menu li a {
		display: block;
		text-decoration: none;
		background: transparent;
		color: #1a2c35;	
		padding: 0;
		font-size: medium;
		line-height: normal;

	}

	ul#inv-menu li:hover {
		color: #ff7c2b;
		opacity: .8;
		background: #f9faf9;
	}

	.col-3 {
		width: 50%;
	}

	.category-button {
		width: 100%;
	}

	.card {
		height: 300px;
	}

	.card h4 {
		padding: 10px;
	}

	.card-image {
		height: 150px;
		margin-top: 20%;
	}
}


/*Screens bigger than 800px*/
@media screen and (min-width: 768px) {

.logo {
	margin-top: -15px;
	left: 25px;
	width: 13%;
}


.row, .col-12 {
	height: 100%;
}

.col-3 {
	width: 25%;
}

.card-image {
	height: 120px;
	margin-top: 40%;
}

.card h4 {
	padding: 0;
}

section {
	padding-top: 75px;
}

/*.landing {
	height: 630px;
}

.landing h1 {
	margin-top: 200px;
}*/

textarea {
	height: 113.5px;
}


}